{
  "mqtt_host": "hassio.local",
  "mqtt_port": 1883,
  "mqtt_username": "ha",
  "mqtt_password": "<PASSWORD>",
  "mqtt_retain_state": true,
  "interfaces": ["hostapd.wlan0", "hostapd.wlan1"],
  "filter_is_denylist": true,
  "filter": ["01:23:45:67:89:ab"],
  "params": {
    "XX:YY:DD:AA:TT:QQ": {
      "name": "Dave",
      "icon": "mdi:cellphone-basic"
    }
  },
  "ap_name": "",
  "location": "home",
  "away": "not_home",
  "fallback_sync_interval": 0,
  "source_type": "router",
  "debug": false
}
